<html><head><style>

#lock_screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

</style>
</head>
<body>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<div id="lock_screen">
<iframe src="/login_screen/initial_ok" autofocus="true" scrolling=no width=400px height=400px marginheight=0px marginwidth=0px></iframe>
</div>
</meta>
<script>
window.addEventListener('touchstart', {});
</script>
</body>
</html>