
<html><head><style>

#lock_screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

#myContainer {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
  z-index:2;
  touch-action: none;
}

#myScoreboard {
  width: 40px;
  height: 80px;
  top = 0px; 
  left = 360px'; 
  position: relative;
  background: black;
  z-index:2000;
  touch-action: none;
  opacity: 0.5;
  font-size: 6px;
}

</style>
<style type="text/css">#tryitLeaderboard ~ #container { top: 48px!important; }
#tryitLeaderboard ~ .trytopnav { top: 0!important; }</style></head><body>


<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<div id="lock_screen">
<div id="myContainer">
<div id="myScoreboard">
</div>
</div>
</div>
</meta>


<div id="result"></div>
    
<script>

var major_refresh = 50
var minor_refresh = 5

var keys = [];
var mouse_x = 0;
var mouse_y = 0;
var mouseDown = 0;
var drawing_finished = 1
var synch_el_list = [];

var touch_point_x_list = [];
var touch_point_y_list = [];

function preload() {

    var req = new XMLHttpRequest();
    
    req.onreadystatechange = function()
    {
        if(this.readyState == 4 && this.status == 200) {

            imageArray = JSON.parse(this.responseText)
            preload_images(imageArray)

            
        } else {
            result.innerHTML = "error...";
        }
    }
    
    req.open('POST', '/get_preload_image_list', true);
    req.setRequestHeader("Content-Type", "application/json");
    req.send([]);
}

function preload_images(imageArray)
{
    if (document.images) {
        for(i=0; i<=imageArray.length-1; i++) {
            var element = document.createElement("DIV"); 
            (document.getElementsByTagName("BODY")[0]).appendChild(element);
            element.setAttribute("id", "preloaded_image" + i);
            element.style.width = 1 + 'px'; 
            element.style.height = 1 + 'px'; 
            element.style.position = "absolute"; 
            element.style.top = -1 + 'px'; 
            element.style.left = -1 + 'px'; 
            element.style.backgroundColor = 'red';
            element.style.backgroundImage = 'url("get_image/"+imageArray+")'; 
        }
    }
}


window.addEventListener("keydown",
    function(e){
        keys[e.keyCode] = e.keyCode;
        var keysArray = getNumberArray(keys);
    }, false);

window.addEventListener('keyup',
    function(e){
        keys[e.keyCode] = false;
    },false);

window.addEventListener("touchstart", function(e){

    touch_point_x_list = [];
    touch_point_y_list = [];
    
}, false);

function detect_streak_motion(touch_point_x_list,touch_point_y_list){
    var my_angle_list=[];
    var my_dr_mean=0;
    var my_angle = 0;
    var my_angle_mean = 0;
    var my_squares_sum = 0;
    
    num_samples = 10
    
    //document.write(touch_point_x_list);
    //document.write(touch_point_y_list);
    if (touch_point_x_list.length>num_samples)
    {
        for (var i = (touch_point_x_list.length-num_samples); i < touch_point_x_list.length; i++)
        {
            my_dr_mean = my_dr_mean + ( Math.pow(Math.pow(touch_point_x_list[i],2)+Math.pow(touch_point_y_list[i],2),0.5) 
            - Math.pow(Math.pow(touch_point_x_list[i-1],2)+Math.pow(touch_point_y_list[i-1],2),0.5) ) / num_samples;
        }

        
        
        if ( (my_dr_mean > 3) )
        {
            //document.write(my_dr_mean)
            ++mouseDown;
        }
    }
    touch_point_x_list = [];
    touch_point_y_list = [];
}

window.addEventListener("touchmove", function(e){
    
    e.preventDefault()
    
    var m_posx = 0, m_posy = 0, e_posx = 0, e_posy = 0,
           obj = document.getElementById("myContainer");
    //get mouse position on document crossbrowser
    if (!e){e = window.event;}
    if (e.changedTouches[0].pageX || e.changedTouches[0].pageY){
        m_posx = e.changedTouches[0].pageX;
        m_posy = e.changedTouches[0].pageY;
    } else if (e.changedTouches[0].clientX || e.changedTouches[0].clientY){
        m_posx = e.changedTouches[0].clientX + document.body.scrollLeft
                 + document.documentElement.scrollLeft;
        m_posy = e.changedTouches[0].clientY + document.body.scrollTop
                 + document.documentElement.scrollTop;
    }
    //get parent element position in document
    if (obj.offsetParent){
        do { 
            e_posx += obj.offsetLeft;
            e_posy += obj.offsetTop;
        } while (obj = obj.offsetParent);
    }
    // mouse position minus elm position is mouseposition relative to element:
    mouse_x = (m_posx-e_posx); 
    mouse_y = (m_posy-e_posy);
    
    touch_point_x_list.push(mouse_x-200);
    touch_point_y_list.push(mouse_y-200);
            
    if (touch_point_x_list.length <= 10)
    {
    } else
    {
        
        detect_streak_motion(touch_point_x_list,touch_point_y_list)
        
        touch_point_x_list.splice(0,1);
        touch_point_y_list.splice(0,1);
    }
    
}, false);

function getNumberArray(arr){
    var newArr = new Array();
    for(var i = 0; i < arr.length; i++){
        if(typeof arr[i] == "number"){
            newArr[newArr.length] = arr[i];
        }
    }
    return newArr;
}

document.body.onmousedown = function() { 
  ++mouseDown;
}

document.body.onclick = function() { 
  ++mouseDown;
}

window.addEventListener('mousemove', 
function(e){
    var m_posx = 0, m_posy = 0, e_posx = 0, e_posy = 0,
           obj = document.getElementById("myContainer");
    //get mouse position on document crossbrowser
    if (!e){e = window.event;}
    if (e.pageX || e.pageY){
        m_posx = e.pageX;
        m_posy = e.pageY;
    } else if (e.clientX || e.clientY){
        m_posx = e.clientX + document.body.scrollLeft
                 + document.documentElement.scrollLeft;
        m_posy = e.clientY + document.body.scrollTop
                 + document.documentElement.scrollTop;
    }
    //get parent element position in document
    if (obj.offsetParent){
        do { 
            e_posx += obj.offsetLeft;
            e_posy += obj.offsetTop;
        } while (obj = obj.offsetParent);
    }
    // mouse position minus elm position is mouseposition relative to element:
    mouse_x = (m_posx-e_posx); 
    mouse_y = (m_posy-e_posy);
}
, false);

function do_redraw() {
    var req = new XMLHttpRequest();
    
    var data = {};
    
    req.onreadystatechange = function()
    {
        if(this.readyState == 4 && this.status == 200) {
        
            instruction_data = JSON.parse(JSON.parse(this.responseText))
            result.innerHTML = this.responseText;
            do_update(instruction_data)
            
        } else {
            result.innerHTML = "error...";
        }
    }

    req.open('POST', '/redraw', true);
    req.setRequestHeader("Content-Type", "application/json");
    req.send(JSON.stringify(data));
}
      
function do_ajax() {
    drawing_finished = 0
    var req = new XMLHttpRequest();
    
    var data = {};
    data["keys_pressed"]=(getNumberArray(keys));
    data["mouse_x"]=mouse_x;
    data["mouse_y"]=mouse_y;
    data["mouseDown"]=mouseDown
    mouseDown = 0
    
    req.onreadystatechange = function()
    {
        if(this.readyState == 4 && this.status == 200) {
            
            //result.innerHTML = this.responseText
            
            update_data = JSON.parse(this.responseText)
            
            //result.innerHTML = this.responseText;
            
            do_update(update_data)
            
        } else {
            result.innerHTML = "error...";
        }
    }
    
    req.open('POST', '/update', true);
    req.setRequestHeader("Content-Type", "application/json");
    req.send(JSON.stringify(data));
    drawing_finished = 1
}
      
function do_update(instruction_data) {
    
    document.getElementById("myScoreboard").textContent = instruction_data.status_text;
    
    instruction_data = update_data.instruction_data;
    
    synch_el_exists = new Array(synch_el_list.length).fill(0)
    
    for(var instr_i = 0; instr_i < instruction_data.length; instr_i++){
        
        var found_index = synch_el_list.findIndex(function(element) {
           return instruction_data[instr_i].id === element;
        });
        
        if (found_index==-1)
        {
            
            var element = document.createElement("DIV"); 
            document.getElementById("myContainer").appendChild(element);
            element.setAttribute("id", instruction_data[instr_i].id);
            element.style.width = instruction_data[instr_i].width + 'px'; 
            element.style.height = instruction_data[instr_i].height + 'px'; 
            element.style.position = "absolute"; 
            element.style.top = instruction_data[instr_i].top + 'px'; 
            element.style.left = instruction_data[instr_i].left + 'px'; 
            element.style.backgroundColor = instruction_data[instr_i].backgroundColor;
            element.style.backgroundImage = instruction_data[instr_i].backgroundImage; 
            element.style.zIndex=instruction_data[instr_i].zIndex; 
            
            synch_el_list.push(instruction_data[instr_i].id)
            synch_el_exists.push(1)
        } else
        {
            synch_el_exists[found_index] = 1
        
            var element = document.getElementById( instruction_data[instr_i].id );
            //element.style.width = instruction_data[instr_i].width + 'px'; 
            //element.style.height = instruction_data[instr_i].height + 'px'; 
            smooth_motion(element, instruction_data[instr_i].width, instruction_data[instr_i].height);
            element.style.position = "absolute"; 
            element.style.top = instruction_data[instr_i].top + 'px'; 
            element.style.left = instruction_data[instr_i].left + 'px'; 
            element.style.backgroundColor = instruction_data[instr_i].backgroundColor;
            element.style.backgroundImage = instruction_data[instr_i].backgroundImage; 
            element.style.zIndex=instruction_data[instr_i].zIndex; 
        }
    }
    
    //document.write(synch_el_list);
    //document.write(synch_el_exists);
    
    for (var i = synch_el_exists.length - 1; i >= 0; i--)
    {
        if (synch_el_exists[i]==0) 
        {
            var element = document.getElementById( synch_el_list[i] );
            element.parentNode.removeChild(element);
            synch_el_list.splice(i,1);
        }
    }
    
    return "OK"
}

function smooth_motion(element, new_x, new_y) 
{
    var old_x = element.style.top 
    var old_y = element.style.left 
    var time_index = 0

    var motion_timer = setInterval(refresh_motion, minor_refresh);
    function refresh_motion() 
    {
        element.style.top = old_x + ( new_x - old_x ) / (major_refresh / minor_refresh ) * time_index + 'px';  
        element.style.left = old_y + ( new_y - old_y ) / (major_refresh / minor_refresh ) * time_index + 'px';         time_index = time_index + 1;
        
        if ( time_index > (major_refresh / minor_refresh ) )
        {
            clearInterval(motion_timer);
        }
        time_index = time_index + 1;
    }
}

function myAnimation() 
{
  var id = setInterval(refresh, major_refresh);
  function refresh() {
      if (drawing_finished === 1)
      {
          do_ajax()
      }
  }
}

preload()
do_redraw()
myAnimation()

</script>

</body></html>