
<html><head><style>
#myContainer {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
  z-index:2;
}

#myFrame {
  width: 500px;
  height: 500px;
  position: relative;
  background-image: url("get_image/frame_orig_0.png");
  z-index:1000;
}

</style>
<style type="text/css">#tryitLeaderboard ~ #container { top: 48px!important; }
#tryitLeaderboard ~ .trytopnav { top: 0!important; }</style></head><body>




<div id="myContainer">
<div id="myFrame">
</div>
</div>


<div id="result"></div>
    
<script>

var keys = [];
var mouse_x = 0;
var mouse_y = 0;
var mouseDown = 0;
var drawing_finished = 1
var synch_el_list = [];

window.addEventListener("keydown",
    function(e){
        keys[e.keyCode] = e.keyCode;
        var keysArray = getNumberArray(keys);
    }, false);

window.addEventListener('keyup',
    function(e){
        keys[e.keyCode] = false;
    },false);

function getNumberArray(arr){
    var newArr = new Array();
    for(var i = 0; i < arr.length; i++){
        if(typeof arr[i] == "number"){
            newArr[newArr.length] = arr[i];
        }
    }
    return newArr;
}

document.body.onmousedown = function() { 
  ++mouseDown;
}
document.body.onmouseup = function() {
  --mouseDown;
}

window.addEventListener('mousemove', 
function(e){
    var m_posx = 0, m_posy = 0, e_posx = 0, e_posy = 0,
           obj = document.getElementById("myContainer");
    //get mouse position on document crossbrowser
    if (!e){e = window.event;}
    if (e.pageX || e.pageY){
        m_posx = e.pageX;
        m_posy = e.pageY;
    } else if (e.clientX || e.clientY){
        m_posx = e.clientX + document.body.scrollLeft
                 + document.documentElement.scrollLeft;
        m_posy = e.clientY + document.body.scrollTop
                 + document.documentElement.scrollTop;
    }
    //get parent element position in document
    if (obj.offsetParent){
        do { 
            e_posx += obj.offsetLeft;
            e_posy += obj.offsetTop;
        } while (obj = obj.offsetParent);
    }
    // mouse position minus elm position is mouseposition relative to element:
    mouse_x = (m_posx-e_posx); 
    mouse_y = (m_posy-e_posy);
}
, false);

function do_redraw() {
    var req = new XMLHttpRequest();
    
    var data = {};
    
    req.onreadystatechange = function()
    {
        if(this.readyState == 4 && this.status == 200) {
        
            instruction_data = JSON.parse(JSON.parse(this.responseText))
            result.innerHTML = this.responseText;
            do_update(instruction_data)
            
        } else {
            result.innerHTML = "error...";
        }
    }

    req.open('POST', '/redraw', true);
    req.setRequestHeader("Content-Type", "application/json");
    req.send(JSON.stringify(data));
}
      
function do_ajax() {
    drawing_finished = 0
    var req = new XMLHttpRequest();
    
    var data = {};
    data["keys_pressed"]=(getNumberArray(keys));
    data["mouse_x"]=mouse_x;
    data["mouse_y"]=mouse_y;
    data["mouseDown"]=mouseDown
    
    req.onreadystatechange = function()
    {
        if(this.readyState == 4 && this.status == 200) {
            
            //result.innerHTML = this.responseText
            
            instruction_data = JSON.parse(this.responseText)
            
            //result.innerHTML = this.responseText;
            
            do_update(instruction_data)
            
        } else {
            result.innerHTML = "error...";
        }
    }
    
    req.open('POST', '/update', true);
    req.setRequestHeader("Content-Type", "application/json");
    req.send(JSON.stringify(data));
    drawing_finished = 1
}
      
function do_update(instruction_data) {
    
    synch_el_exists = new Array(instruction_data.length).fill(0)
    
    for(var instr_i = 0; instr_i < instruction_data.length; instr_i++){
        
        var found_index = synch_el_list.findIndex(function(element) {
           return instruction_data[instr_i].id === element;
        });
        
        if (found==-1)
        {
            var element = document.createElement("DIV"); 
            document.getElementById("myContainer").appendChild(element);
            element.setAttribute("id", instruction_data[instr_i].params.id);
            element.style.width = instruction_data[instr_i].params.width + 'px'; 
            element.style.height = instruction_data[instr_i].params.height + 'px'; 
            element.style.position = "absolute"; 
            element.style.top = instruction_data[instr_i].params.top + 'px'; 
            element.style.left = instruction_data[instr_i].params.left + 'px'; 
            element.style.backgroundColor = instruction_data[instr_i].params.backgroundColor;
            element.style.backgroundImage = instruction_data[instr_i].params.backgroundImage; 
            element.style.zIndex=instruction_data[instr_i].params.zIndex; 
            
            synch_el_list.push(instruction_data[instr_i].id)
            
        } else
        {
            synch_el_exists[found_index] = 1
        
            var element = document.getElementById( instruction_data[instr_i].params.id );
            element.style.width = instruction_data[instr_i].params.width + 'px'; 
            element.style.height = instruction_data[instr_i].params.height + 'px'; 
            element.style.position = "absolute"; 
            element.style.top = instruction_data[instr_i].params.top + 'px'; 
            element.style.left = instruction_data[instr_i].params.left + 'px'; 
            element.style.backgroundColor = instruction_data[instr_i].params.backgroundColor;
            element.style.backgroundImage = instruction_data[instr_i].params.backgroundImage; 
            element.style.zIndex=instruction_data[instr_i].params.zIndex; 
        }
        
        for (var i = synch_el_list.length - 1; i >= 0; i--)
            if (synch_el_exists[i]===0) 
            {
                synch_el_exists.splice(i,1)
            }
    }
    return "OK"
}
      
function myAnimation() {
  var id = setInterval(refresh, 100);
  function refresh() {
  if (drawing_finished === 1)
  {
      do_ajax()
    }
   }
}

do_redraw()
myAnimation()

</script>

</body></html>