<html><head>
<style>

body {
    background-color : black;
    color: green;
    margin: 0;
    padding: 0;
}
h1 {
    color: green;
    text-align : center;
    font-family: monospace, monospace;

}
form {
    width: 300px;
    margin: 0 auto;
}
</style>
</head>
<body>
    <br><h1>Play the game ! </h1>
    <p>{{ context_info }}</p>
      <form action="/login" method="POST" align="center">
       <table>
        <tr>
         <td>Your nickname :</td> <td><input type="user_id" name="user_id" placeholder="Your Nickname"></td><br>
        </tr>
        <tr>
         <td></td> <td><input type="submit" value="Play"></td>
        </tr>
       </table>
      </form>
<script>
var element = document.getElementById("my_capcha_image");
element.src = element.src + "?" + Math.random();
</script>
</body>
</html>